a{
  color: dark_blue;
  transition: ease-out;                           
  }

body{ 
     background-color:#00131f;
     color: #f2faff;                
    }

h1{
 font-weight: 900;
 text-align: center;
}
